<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>BizOps Dashboard</title>
</head>
<body>
    <main>
        <section class="main-header"> 
            <h1 class="main-headline">BizOps</h1>
            <h2 class="main-subheadline">Business Operations Automator</h2>
        </section>
        <section class="card">
            <h3 id="company-name" class="company-name">Company Name</h3>
            <label id="company-name-label" for="company-name">Enter Your Company Name</label>
            <input id="company-name-input" type="text" placeholder="Company Name">
            <button id="set-name-btn" class="set-name-btn">Create Name</button>
            <div id="change-name" class="change-name">Change Company Name</div>
        </section>
        <section class="card">
            <label for="file-upload">Upload CSV Files</label>
            <input id="file-upload" type="file">
            <p id="upload-status"></p>
        </section>
        <section class="card">
            <h3>Reports</h3>
            <div>
                <h4>Generate Reports</h4>
                <p>Select a file from below and click the button to get a report.</p>
                <button id="get-report">Get Report</button>
                <div>
                    <p id="checked-status" class="error"></p>
                </div>
            </div>
            <div>
                <h4>Uploaded Files</h4>
                <div id="uploads"></div>
                <button id="delete-all-uploads-btn" class="delete-all-btn">Delete All</button>
            </div>
            <div>
                <h4>Reports</h4>
                <div id="reports">
                </div>
                <button id="delete-all-reports-btn" class="delete-all-btn">Delete All</button>
            </div>
        </section>
        <section class="card">
            <h3>Report Scheduler</h3>
            <p>You can automate this tool to generate reports for your uploaded file on a set schedule</p>
            <p id="scheduler-success" class="success">Schedule Updated</p>
            <label for="scheduler">Select Schedule</label>
            <select name="scheduler" id="scheduler">
                <option value="0.5">30 minutes</option>
                <option value="1">1 hour</option>
                <option value="2">2 hours</option>
                <option value="6">6 hours</option>
                <option value="12">12 hours</option>
                <option value="24">once daily</option>
            </select>
            <button id="schedule-btn" class="schedule-btn">Set Schedule</button>
        </section>
    </main>
    <div id="modal-overlay" class="modal-overlay">
        <div id="modal" class="modal">
            <button id="modal-close" class="modal-close">x</button>
            <div id="modal-content" class="modal-content"></div>
        </div>
    </div>
    <script src="/static/js/dashboard.js"></script>
</body>
</html>